<div class="card-container-pie2d">
    <div class="w-[191px] h-full overflow-hidden">
        <app-pie2d [data]="dataSource"></app-pie2d>
    </div>
    <div class="flex flex-col ml-[14px]">
        <h3 class="font-bold">Simpatizante</h3>
        <ul class="list-content">
            <li class="list-item">
                <span class="dot dot-success"></span>
                <span class="num">3</span>
                <span class="txt">Relacionados registrados</span>
            </li>
            <li class="list-item">
                <span class="dot dot-warning"></span>
                <span class="num">6</span>
                <span class="txt">Faltantes por registrar</span>
            </li>
            <li class="list-item">
                <span class="dot dot-info"></span>
                <span class="num">3</span>
                <span class="txt">Relacionados registrados</span>
            </li>
        </ul>
    </div>
</div>